@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;800;900&family=Inter:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-sans: 'Inter', sans-serif;
  }

  /* Arabic mode */
  [dir="rtl"] {
    --font-sans: 'Cairo', sans-serif;
    font-family: 'Cairo', sans-serif;
  }

  body {
    font-family: var(--font-sans);
  }

  /* Smooth RTL transition */
  html {
    transition: direction 0.1s;
  }
}
